/*Tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Variables*/
:root {
	/* Colores */
	--rosa-claro: #F7EBF0;
	--rosa: #F3B4C3;
	--fucsia: #EA4875;
	--azul: #1955A3;
	--gris: #747474;
	/* Tamaño tipográfico */
	--small: 14px;
	--medium: 16px;
	--medium-big: 18px;
	--large: 24px;
	--extra-large: 42px;
	/* box-shadow */
	--bs-principal: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

/* Parámetros generales */
* {
	margin: 0;
	padding: 0;
	border: none;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	width: 100%;
	overflow-x: hidden;
	background-color: var(--rosa-claro);
}

@media (min-width:320px) {

	/********** Nabvar-barra de navegación **********/
	header {
		background-color: var(--azul);
		width: 100%;
		height: 8vh;
		display: flex;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		box-shadow: var(--bs-principal);
	}

	header .header__logo {
		width: 180px;
		height: auto;
		display: flex;
	}

	header .header__nav {
		display: none;
	}

	/********** Nabvar - Carrito de compras **********/
	.btn--compra,
	.btn--menu {
		background: none;
		gap: 0.5rem;
		padding: 0.2rem;
	}

	.header__form .btn__icono {
		color: var(--rosa-claro);
	}

	.btn__icono1 {
		color: var(--rosa-claro);
	}

	header .btn__texto {
		display: none;
	}

	/********** Hero-Portada principal **********/
	.main {
		background-color: var(--azul);
		display: flex;
		flex-direction: column;
	}

	.main__imagen .imagen__animado-gif {
		max-width: 100%;
		height: auto;
		border-radius: 50%;
		padding: 2rem;
		animation: shadow-drop-2-center .4s ease-in-out both;
	}


	@keyframes shadow-drop-2-center {
		0% {
			transform: translateZ(0);
		}

		100% {
			transform: translateZ(50px);
		}
	}

	.main__section {
		padding: 1rem 1rem 2rem 1rem;
		;
		text-align: center;
		box-shadow: var(--bs-principal);
	}

	.section__titulo {
		font-family: "League Spartan", sans-serif;
		font-size: 28px;
		color: var(--rosa-claro);
		margin-bottom: 1rem;
	}

	.titulo__destacado {
		color: var(--rosa);
		font-style: italic;
		font-weight: 900;
	}

	.section__descripcion {
		color: var(--rosa-claro);
		margin-bottom: 1rem;
		font-size: var(--medium);
	}

	.descripcion__destacado {
		font-weight: bold;
	}

	.btn--productos {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.5rem;
		color: var(--rosa-claro);
		background-color: var(--fucsia);
		border-radius: 20px;
		padding: 0.5rem;
		width: 200px;
		margin: 0 auto;
		cursor: pointer;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}

	/********** About-Sobre CafeExplora **********/
	.intro {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: var(--rosa-claro);
		padding: 2rem;
	}

	.intro .intro__titulo {
		font-family: "League Spartan", sans-serif;
		font-size: var(--large);
		color: var(--fucsia);
		margin-bottom: 1rem;
	}

	.intro .intro__texto {
		color: var(--gris);
		font-size: var(--medium);
		text-align: center;
	}

	/********** Beneficios-Card **********/
	.card {
		background-color: #fbd0da;
		border-radius: 8px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		overflow: hidden;
		width: 300;
		flex-wrap: nowrap;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 2rem;
	}

	.card__img {
		border-radius: 50%;
		width: 240px;
		height: auto;
	}

	.card__titulo {
		font-family: "League Spartan", sans-serif;
		font-size: var(--large);
		color: var(--fucsia);
		margin: 16px 0 8px;
		text-align: center;
	}

	.card__bajada {
		color: var(--gris);
		font-size: var(--medium);
		margin: 0 16px 16px;
		text-align: center;
		margin-bottom: 1rem;
		padding: 0 0.5rem;
	}

	/********** Contacto **********/
	.form__img {
		display: none;
	}

	.form__contacto {
		background-color: var(--azul);
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		overflow: hidden;
		width: 300;
		flex-wrap: nowrap;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 1rem;
	}

	.form__contacto,
	.form__titulo {
		color: var(--rosa-claro);
	}

	.form__titulo {
		font-family: "League Spartan", sans-serif;
		font-size: var(--large);
		margin: 16px 0 8px;
	}

	.form__contacto p {
		font-size: var(--medium);
	}

	.form__correo {
		color: var(--rosa);
	}

	.form__icon--contenedor {
		margin-top: 2rem;
	}

	/********** Footer **********/
	footer {
		background-color:#11488f;
		width: 100%;
		height: 8vh;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: var(--bs-principal);
	}

	footer .footer__logo {
		width: 180px;
		height: auto;
		display: flex;
	}
}