:root {
    /* Colores */
    --rosa-claro: #F7EBF0;
    --rosa: #F3B4C3;
    --fucsia: #EA4875;
    --azul: #1955A3;
    --gris: #747474;
    /* Tamaño tipográfico */
    --small: 14px;
    --medium: 16px;
    --large: 24px;
    --extra-large: 32px;
    /* box-shadow */
}
/* Parámetros generales */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
}
/* Navbar */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    height: 8vh;
    width: 100vw;
    padding: 0 3rem 0 3rem;
    /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    position: fixed;
}
header picture img {
    width: 160px;
    height: auto;
}
picture{
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.secciones {
    color: var(--rosa-claro);
    font-size: var(--small);
    font-weight: 500;
    text-decoration: none;
}
